@* The Razor component for index *@

@page "/"
@inject IStudentService StudentService
@inject IDepartmentService DepartmentService
<PageTitle>Index</PageTitle>

<h3>Welcome</h3>
<div id=app>
    <p>No. of Students:<p style="color:white;background-color: rgb(88, 88, 221); width:10%; text-align:center; ">@StudentService.students.Count()</p>
    </p>
    <br>
    <p>No. of Departments:<p style="color:white;background-color: rgb(88, 88, 221); width:10%; text-align:center; ">@DepartmentService.departments.Count() </p></p>
</div>


@code{
   
    protected override async Task OnInitializedAsync()
    {
        await StudentService.GetStudents();
        await DepartmentService.GetDepartments();
    }
}
