@* The Razor component to update Department *@

@page "/updatedept/{DeptId}"
@inject IStudentService StudentService
@inject IDepartmentService DepartmentService
@inject NavigationManager NavigationManager
<style>
    .editdept{
        background-color: rgba(165, 160, 160, 0.721);
         margin-left: 5%;
         margin-right: 5%;
         padding-top: 5%;
         padding-bottom: 5%;
         padding-left: 5%;
         padding-right: 5%;
         margin-top: 3%;
    }
    .editdept .form-group{
        margin-top: 2%;
        margin-bottom: 2%;
    }
</style>
<h3> Edit Department Details</h3>
<hr />
@* @if(obj!=null){ *@
<div class="editdept">
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="DeptId" class="control-lablel">Department Id</label>
                <input form = "DeptId" class="form-control" @bind="obj.DeptId" disabled/>
            </div>
            <div class="form-group">
                <label for="Name" class="control-lablel">Department Name</label>
                <input form = "Name" class="form-control" @bind="obj.DeptName"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateDepartments" value="Update" />
                <input type="button" class="btn btn-danger" @onclick = "@Discard" value="Discard" />
            </div>
        </div>
    </div>
</form>
</div>
@* }
else{
    <div class="Spinner"></div>
} *@
@code{

    [Parameter]
    public string DeptId{get; set;}
    int DeptId1;
    Department obj = new Department();

    protected override async Task OnInitializedAsync()
    {
        if(int.TryParse(DeptId,out DeptId1)){
            obj= await DepartmentService.GetDepartmentById(DeptId1);
            if(obj==null){
                NavigationManager.NavigateTo("/error");
            }
        }
        else{
            NavigationManager.NavigateTo("/error");
        }    
    }
    protected async Task UpdateDepartments()
    {
        await DepartmentService.UpdateDepartment(obj);
        NavigationManager.NavigateTo("Department");
    }
    protected async void Discard()
    {
        NavigationManager.NavigateTo("Department");
    }
}